.pathmap-button-row {
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    display: inline-block;
}

.scollable-list {
    height: 150px;
    width: 150px;
    flex-shrink: 0;
}

.mdl-button {
  width: 160px;
}

#map{
  height: 400px;
  width: 800px;
}

.debug-mdl-cell {
  background-color: #BDBDBD;
}
